// Sassier Buttons
// Modfied from: Compass extension by Jared Hardy - http://www.jaredhardy.com

@import "sassy-button-gradients";
@import "sassy-button-styles";
@import "sassy-button-text";
@import "sassy-button-pseudo-states";

// Sassy Button defaults
// These are the base defaults for the buttons, if you are going to use similar buttons on an entire site changing these
// can save you some time by calling the sassy button mixin with less arguments.

// Base color of button.
$sassybtn-base-color: rgba(11, 153, 194, 1) !default;

// Optional secondary color for gradient.
$sassybtn-second-color: false !default;

// Border color of button.
$sassybtn-border-color: #FFF !default;

// Border radius of button.
$sassybtn-border-radius: 5px !default;

// Padding that gives button structure.
$sassybtn-padding: 0.5em 1.5em !default;

// Font size.
$sassybtn-font-size: 1em !default;

// Button font color.
$sassybtn-text-color: #FFF !default;

// Style of button text, can be "inset" or "raised" or false.
$sassybtn-text-style: "inset" !default;

// Gradient style of button, can be "flat", "glass", "matte", "shiny", or "simple".
$sassybtn-gradient-style: "simple" !default;

// Automatically generate pseudo state styles.
$sassybtn-pseudo-states: true !default;

// Mixing that gets included when calling the sassy-button-structure if you need any
// styles applied to all your sassy buttons, add it here.
@mixin sassy-button-default-structure {
  display: inline-block;
  cursor: pointer;
}

// The Sassy Button kitchen sink.
@mixin sassy-button(
  $gradient-style: $sassybtn-gradient-style,
  $padding: $sassybtn-padding,
  $border-size: $sassybtn-border-size,
  $border-radius: $sassybtn-border-radius,
  $font-size: $sassybtn-font-size,
  $first-color: $sassybtn-base-color,
  $second-color: $sassybtn-second-color,
  $text-color: $sassybtn-text-color,
  $text-style: $sassybtn-text-style,
  $auto-states: $sassybtn-pseudo-states) {
    @include sassy-button-structure($border-size, $border-radius, $font-size, $padding);
    @include sassy-button-gradient($gradient-style, $first-color, $second-color, $text-color, $text-style, $auto-states);
    @content;
  }

// Structure for a sassy button
@mixin sassy-button-structure($border-radius: $sassybtn-border-radius, $font-size: $sassybtn-font-size, $padding: $sassybtn-padding) {
  font-size: $font-size;
  padding: $padding;
  @include sassy-button-default-structure;
  border-radius: $border-radius;
}
